<a class="navbar-brand" href="">
    <img src="{{ asset('imgs/logo-openstat.jpg') }}" width="50" alt="logo">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <img src="{{ asset('imgs/avatar-1.jpg') }}" alt="" class="user-avatar-md rounded-circle">
</button>