<a class="d-xl-none d-lg-none" href="#">Menu</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav flex-column">
        <li class="nav-item single-menu">
            <a class="nav-link {% if app_film is defined %} active {% endif %}" href="{{ path('app_film') }}">
                <i class="fas fa-camera-movie"></i> Movies
            </a>
        </li>

        <li class="nav-item single-menu">
            <a class="nav-link {% if app_people is defined %} active {% endif %}" href="{{ path('app_people') }}">
                <i class="fas fa-person"></i> Peoples
            </a>
        </li>

        <li class="nav-item single-menu">
            <a class="nav-link {% if app_planet is defined %} active {% endif %}" href="{{ path('app_planet') }}">
                <i class="fas fa-planet-ringed"></i> Planets
            </a>
        </li>

        <li class="nav-item single-menu">
            <a class="nav-link {% if app_species is defined %} active {% endif %}" href="{{ path('app_species') }}">
                <i class="fas fa-network-wired"></i> Species
            </a>
        </li>
    </ul>
</div>