<a class="d-xl-none d-lg-none" href="#">Menu</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav flex-column">
        <li class="nav-item single-menu">
            <a class="nav-link" href="{{ immo_base_url }}">
                <i class="fas fa-backward"></i> Retour
            </a>
        </li>
        <li class="nav-item single-menu">
            <a class="nav-link {% if excel is defined %} active {% endif %}" href="{{ path('admin_excel_index') }}">
                <i class="fas fa-file-excel"></i> Fichier excel
            </a>
        </li>
    </ul>
</div>